<div class="content-container">
  <h1>Theming in Angular</h1>

  <p>
    This application shows how themes in an Angular application can be dynamically changed.
  </p>

  <p>
    Such a functionality is useful to increase the accessibility of the application.
  </p>

  <app-child></app-child>


  <p>Click on a button below to change the theme</p>
  <button (click)="setTheme('default')">Default theme</button>
  <button (click)="setTheme('dark-theme')">Dark theme</button>
  <button (click)="setTheme('high-contrast-theme')">High Contract theme</button>
</div>
